.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
  margin: 25px;
}

label {
  margin-left: 8px;
  margin-right: 8px;
}

input {
  margin-left: 8px;
  margin-right: 8px;
}

.menu-button {
  margin: 15px !important;
}

#sheet-submit {
  margin: 15px;
}
